.header-banner {
    /* background-color: #0097B2; */
    /* Change to your desired color */
    padding: 20px 180px;
    text-align: center;
    /* Center the text */
}

.header-banner h1 {
    color: #0097B2;
    text-align: start;
    font-size: 4rem;
    font-family: 'Gotham Black';
    position: relative;
}

.info-container {
    display: flex;
    /* Use flexbox for layout */
    margin-top: 20px;
    /* Space above the info boxes */
}

.info-left {
    flex: 2;
    /* Left side takes available space */
    margin-right: 20px;
    /* Space between the left and right */
    display: flex;
    flex-direction: column;
    /* Stack boxes vertically */
}

.info-img {
    flex: 1;
    /* Right side takes equal space */}

.info-box {
    padding: 20px 180px;
    margin-bottom: 20px;
}

.info-heading {
    font-weight: 100;
    color: #1C3583;
    /* Dark text color for headings */
    margin: 0 0 10px;
    /* Space below heading */
}

.info-content {
    color: #1C3583;
    /* Darker gray for content */
}

.contact-image {
    /* Makes the image responsive */
    height: auto;
    /* Keeps the aspect ratio */
    border-radius: 5px;
    /* Optional: round the corners of the image */
}

.contact-line {
    width: 45vw; /* Set the width of the line */
    height: 1px; /* Set the height of the line */
    background-color: #C05A26; /* Set the color of the line */
    margin: 0 0 20px 180px; 
}