


/* Colab Header and Image section */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.colab-header {
    height: auto; 
}

.colab-logo{
    height:100px;
    margin:0 auto;

}

.bannerimage-container {
    position: relative;
    overflow: hidden;
    height: 60vh;
    width: 100%;
    background-color: #02214C; 
}

.top-image {
    display: block;
    width: 100%; 
    height: 65vh;
    object-fit: cover;
    object-position: bottom;
    background-color: #E8EBEF;
}

.text-overlay {
    position: absolute;
    top: 18%;
    z-index: 1;
    max-width: 40%;
    text-align: left;
    padding-left: 120px;
}

.text-overlay h1 {
    font-size: 2rem;
    margin: 0;
    font-family: 'Gotham Book';
    font-weight: bold;
}

.coa-logo{
    position:absolute;
    top:110px;
    height: 100px;
    display:flex;
}

.ut-seal{
    position:absolute;
    top:110px;
    left:150px;
    height: 100px;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* What is Colab */

.intro-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 50px;
    padding: 80px;
    background-color: #E8EBEF;
}

.introcover {
    flex: 1;
}

.introcover img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}

.intro-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Introduction{
    
    align-items:left;
    justify-content: center;
    display:flex;
    background-color:#E8EBEF;
    flex-direction:row;

}

.intro-box h1{
    font-size:3rem;
    
}

.intro-box p{
    font-family:"Gotham Book";
    font-size:1rem;
    max-width:600px;
    
        font-weight:600;
    
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ems to Solve */

.Problems {
    position: relative;
    height: 70vh;
    padding: 0;
}

.problem-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.problem-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 88, 49, 0.5);
    z-index: 1;
}

.problem-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    padding: 20px;
}

.Problems h1 {
    color: #fff;
    font-size: 2.6rem;
    margin: 0;
    padding: 20px;
}

.Problems h2 {
    color: #fff;
    font-size: 2rem;
    margin: 0;
}

.blob-section {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    flex-wrap: nowrap;
    gap: 40px;
    flex-direction: row;
}

.blob {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* border-top: 2px solid white;
    border-bottom: 2px solid white; */
    background-color:white;
    transition: transform 0.3s ease;
    cursor: pointer;
    flex: 1 1 300px;
    max-width: 400px;
    min-width: 250px;
    margin: 10px;
    justify-content: center;
}

.blob-hover {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(35, 88, 49, 1);
    color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
    align-items: center;
    justify-content: center;
    z-index: 0;
    flex-direction: column;
}

.blob:hover .blob-hover {
    opacity: 1;
    z-index: 1;
}

.blob:hover {
    transform: translateY(-10px);
}

.blob-icon {
    padding-bottom: 10px;
}

.blob-icon img {
    width: 70px;
}

.blob-text {
    text-align: center;
}

.blob h2 {
    font-size: 1.4rem;
    color: rgba(35, 88, 49, 1); 
    margin: 10px 0;
}

.blob p {
    font-family: "Gotham Book";
    color: rgba(35, 88, 49, 1); 
    font-size: 1rem;
    margin: 0;
}

.blob-hover h2{
color: white;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* Urgency */
.urgency {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    min-height: 600px;
}

.urgency-content h1 {
    font-size: 2.6rem;
    margin: 0;
    padding: 30px;
    text-align: center;
}

.urgency-content {
    font-size: 1.3rem;
    margin: auto;
    text-align: left;
    width: 90%;
}

.urgency-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.urgencycard {
    position: relative;
    overflow: hidden;    
    width: 200px;
    height: 300px;
    margin: 15px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
    cursor: pointer; 
}

.urgency-card-content {
    padding: 20px;
    position: relative;
    z-index: 1;
    color: white;
    transition: color 0.3s;
}

.urgencycard:hover .urgency-card-content {
    color: white;
}

.urgencycard::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(28, 53, 131, 0.7);
    transform: translateX(0);
    transition: transform 0.5s ease-out;
    z-index: 0;
}

.urgencycard:hover::after {
    transform: translateY(-100%); /* Slide out effect */
}



/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* Quote */

.quote{
    max-width:100vw;
    height:auto;
    position: relative;
}

.quote-details {
    gap: 10px;
    display: flex;
    text-align: center;
    margin-top: 25px;
    color: white;
    flex-direction: column;
}

.quote-name {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}

.quote-affiliation {
    font-size: 1rem;
    color: white; 
    font-weight: bold;
}

.quote-overlay {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    max-width: 90%;
    text-align: center;

}

.quote-overlay h1 {
    font-size: 2rem;
    margin: 0;
    font-family: 'Gotham Book';
    color: white;
    font-weight: bold;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.quote-image {
    display: block;
    width: 100%; 
    height: 65vh;
    object-fit: cover;
    object-position: bottom;
    background-color: #E8EBEF;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */



/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */



/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* Structure */


.colab-structure{
    height:auto;
    flex-direction: column;
    display:flex;
    padding: 20px;

}

.structure-title{
    font-size: 3rem;
    text-align: center;
}

.colab-structure-section{
    flex-direction:row;
    display:flex;
    align-items: center;
    max-width:100vw;
}

.colab-structure-section-1{
    align-items: center;
    margin: 0 auto;
    max-width:50%;
        object-fit:contain;

}

.colab-structure-section-1-img{
    align-items: center;
    margin: 0 auto;
    max-width:100%;
}




/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* Next Steps */


.colab-progress{
    height:auto;
    padding: 20px;
    background-color:#C8EEF9;;

}

.colab-progress-title{
    font-size: 3rem;

}

.next-steps{
    padding-left:25px;
}
.next-steps-list{
    list-style-type: disc;
    padding-left: 10px;
    font-size: 1.3rem;

}

.timeline{
    margin-top: 40px;
    background-color:#69C4D9;
    width:100vw;
    margin-left:-20px;
    padding-left: 20px;
    padding-bottom:60px;
}

.timeline-container{
}

.headerlogo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
}

.headerlogo img{
    width:5vw
}

.carousel-scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 24px;
    z-index: 10;
}

.left {
    left: 10px; /* Position on the left */
}

.right {
    right: 10px; /* Position on the right */
}
/* Mobile Styles */
@media only screen and (max-width: 768px) {

    /* Adjusting the header */

    .scroll-down-box{
        display:none;
    }

    .colab-logo {
        height: 80px;
    }
   
    .top-image {
        height: 40vh;
    }

    .quote-image {
        height: 50vh;
    }


    .caraousel-scroll-button {
        padding: 8px;
    }
    
    .text-overlay h1 {
        font-size: 1.3rem;
    }

    .text-overlay {
        top: 17%;
        padding-left: 30px;
        max-width: 57%;
    }

    .intro-box h1{
        font-size: 2rem;
    }

    .intro-box p{
        max-width: 90vw;
        font-size: 1rem;
    }

    /* Adjusting Problems section */

    .Problems{
        height: auto;
    }

    .Problems h1 {
        font-size: 2rem;
        padding: 0;
    }

    .problem-img {
        height: 600px;
    }

    .Problems h2 {
        font-size: 1.5rem;
    }
    
    .blob-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .blob {
        max-width: 100%;
        min-width: fit-content;
        margin: 10px 0;
    }

    .blob-icon img {
        width: 50px;
    }

    .blob-hover {
        padding: 10px;
    }

    .blob h2 {
        font-size: 1rem;
    }

    .blob p {
        font-size: 0.7rem;
    }

    .intro-container {
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    /* Adjusting Urgency section */
    .urgency-title h1 {
        font-size: 2rem;
        margin: 15px 0;
    }

    .urgencycard {
        width: 80%;
        height: 250px;
    }

    .urgency-content {
        font-size: 1.1rem;
        margin: 0 20px;
    }

    .urgency-content h1{
        text-align: center;
        padding: 0;
        font-size: 2rem;
    }

    .urgency {
        padding: 50px 20px;
        min-height: 500px;
    }

    .urgency-container {
        justify-content: center;
    }

    /* Adjusting Quote section */
    .quote {
        height: 50vh;
    }

    .quote-overlay h1 {
        font-size: 1rem;
    }
    .quote-name {
        font-size: 1rem; /* Adjust size as needed */
    }

    .quote-affiliation {
        font-size: 0.9rem; /* Adjust size as needed */
    }

    /* Adjusting Structure section */
    .colab-structure-section {
        flex-direction: column;
    }

    .colab-structure-section-1 {
        max-width: 90%;
        margin: 20px 0;
    }

    /* Adjusting Next Steps section */
    .colab-progress {
        padding: 20px 10px;
    }

    .colab-progress-title {
        font-size: 2.5rem;
    }

    .next-steps-list {
        padding-left: 20px;
        font-size: 1.1rem;
    }

    .timeline {
        margin-top: 20px;
        padding-left: 10px;
        padding-bottom: 40px;
    }

    .headerlogo img{
        width:15vw
    }
}

.about-button {
    background-color: #163374;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    height: auto;
    transition: 0.3s;
    display: flex;
    text-decoration: none;
    padding: 20px;
    font-family:'Helvetica';
    width: fit-content;
  }
  .about-button:hover {
    background-color: #0097B2;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }
  .about-button-content{
    font-size: 16px;
  }

@media screen and (max-width:1278px) and (min-width:770px){
    .ut-seal, .coa-logo{
        top:350px;

    }

     .colab-structure-section {
        flex-direction: column; /* Stack elements vertically */
    }

    .colab-structure-section-1 {
        width: 90vw; /* Adjusted for smaller width */
        padding-bottom: 30px;
        border-bottom: 1px solid grey;
        max-width:100%;
        align-items:center;
        justify-content: center;
        display:flex;
    }

     .colab-structure-section-1-img{
        max-width:50%;
        margin: 0 auto;

     }

     .colab-structure-section-2 {

    max-width: 100%;
    flex-direction:row;
}


    .headshot-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        grid-template-rows: auto auto; /* Two rows */
        justify-items: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
    }

    .headshot-row img {
        width: 90px; /* Adjust size as needed */
        height: 90px; /* Adjust size as needed */
    }

    /* Styling for the single headshot that appears on the second row */
    .headshot-row .single {
        grid-column: 1 / -1; /* Stretch across all columns */
        justify-self: center;
    }

    


}