.top-border {
  width: 100%; /* Full width */
  height: 1px; /* Border thickness */
  background-color: #1C3583; /* Blue color */
  margin-bottom: 20px; /* Space below the border, adjust as needed */
}

.content-page {
  max-width: 80vw;
  margin: 1vh auto;
  padding: 40px 30px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.content-page h2,
.content-page h3 {
  color: #1c3583;
  font-family: "Gotham Book";
  font-weight: bold;
  margin-bottom: 1rem; /* Ensure a proper margin */
}

.contentimage-container {
  position: relative;
  max-width: 600px; /* Limit max width */
  margin: 0 auto; /* Center the container */
  height: fit-content;
}

.contentmain-img {
  max-width: 100%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Maintain image's aspect ratio */
}

.contentimage-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 53, 131, 0.8); /* Overlay color */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.contentimage-container:hover .contentimage-overlay {
  opacity: 1; /* Show overlay on hover */
}

.project-button {
  display: inline-block;
  background-color: #f8f8f8; /* Off-white color */
  color: #1C3583; /* Text color */
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  position: absolute; /* Center button */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center using transform */
  z-index: 2; /* Above overlay */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.contentimage-container:hover .project-button {
  opacity: 1; /* Show the button on hover */
}

.content-text {
  flex: 1;
  margin-right: 50px; /* Slight left margin */
}

.description {
  font-size: 1rem;
  line-height: 1.5;
}

.collabcard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 60%;
}

.collabcard-content {
  margin: 10px; /* Spacing between collaborators */
  width: 75px; /* Fixed width */
}

.collabcard-content img {
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
}

.border-line {
  width: 85vw;
  height: 1px;
  background-color: #C05A26;
  margin: 30px auto; /* Center the line */
}

.other-projects {
  display: flex;
  flex-direction: column;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  border: 2px solid blue;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  flex: 1 1 calc(33% - 20px); /* Responsive sizing */
  margin: 10px; /* Spacing between cards */
  transition: transform 0.3s ease; /* Smooth transition */
  text-decoration: none; /* Remove underline from link */
  color: inherit; /* Inherit text color */
}

.project-card:hover {
  transform: scale(1.05); /* Enlarge card on hover */
  z-index: 1; /* Bring to front on hover */
}

.project-card img {
  width: 100%;
  height: 150px; /* Fixed height */
  border-radius: 8px;
  object-fit: cover; /* Crop the image */
  margin-bottom: 10px;
}

.project-card a {
  text-decoration: none;
}

/* Responsive styles */
@media (max-width: 767px) {
  .content-page {
    flex-direction: column;
    align-items: center; /* Center align content */
  }

  .content-page h3 {
    margin-top: 1.5rem; /* Adjust for smaller screens */
    margin-bottom: 1.5rem; /* Adjust for smaller screens */
  }

  .content-text {
    margin-left: 0; /* Remove left margin */
    width: 90%; /* Make width more flexible */
    text-align: center; /* Center text */
  }

  .collabcard {
    width: 100%; /* Full width */
    justify-content: center; /* Center align collaborators */
  }

  .project-card {
    flex: 1 1 calc(50% - 20px); /* Two cards per row */
  }
}

@media (max-width: 1024px) {
  .project-card {
    flex: 1 1 calc(50% - 10px); /* Two cards per row on tablets */
  }
}