.card-grid {
    margin-top: 4vh;
    display: flex;
    gap: 20px;
    justify-items: center;
    flex-direction: column;
  }
  
  
  @media (max-width: 767px) {
    .card-grid {
    margin-top: 0;
    gap: 0;
  }
  
  }