* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gotham Black', 'PT Sans', sans-serif;
  
}

html {
  scroll-behavior: smooth;
}

p{
  font-family: "Gotham Book";
    color:#02114C;


}

h1{
  font-family: "Gotham Black";
  font-weight:normal;
  color:#02114C;
}